**/.env*
**/logs
**/tests
**/seeds
**/sandbox
**/scripts
**/langgraph.json
**/.dockerignore
**.cursorignore
**/vscode
**/Dockerfile
**/requirements-dev.txt
**/docker-compose.yml
.gitignore
.vscode
.dockerignore
.git*
**/.venv